html,
body {
	background: none repeat scroll 0 0 #5B5B5B;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #555555;
}

/* Basic Reset */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   	box-sizing: border-box;
    margin: 0;
   	padding: 0;
   	text-rendering: optimizelegibility;
}
/* Fonts*/

/* Free Alternative Font to Proxima Nova */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*General*/
#page-wrapper {
    margin: 0 auto;
    width: 1238px;
    height: auto;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
img {
    border: 0 none;
}
p{
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
}
h3 {
    color: #000000;
    font-family:'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 700;
    padding: 0 0 21px;
}
h4 {
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
    padding: 1px 0 32px;
}

/*Header*/

#logo{
	width: 200px;
	float: left;
	margin-left: 60px;
	margin-top: 10px;
	//text-indent: -9999px;
}
.header{	
	height: 71px;
	width: 1238px;
	border-bottom: 1px solid #ccc;
	position: relative;
	border-bottom: 1px solid #c8c8c8;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	overflow: hidden;
}
.header .menu{
	list-style: none;
	display: inline;
	float: right;
	color: #777777;
	position: relative;
	right: 40px;
}
.header .menu li{
	display: inline;
	margin-right: 10px;
}
.header .menu li a{
	border-top: 4px solid #fff;
	color: #777777;
	height: 67px;
	line-height: 65px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px;
	display: inline-block;
}
.header .menu li a:hover{
	color: #5DCFCA;
	text-decoration: none;
	border-top: 4px solid #5DCFCA;
	height: 67px;
	line-height: 65px;
	font-size: 12px;
	font-weight: bold;
	padding: 0 15px;
	display: inline-block;
}
.header .menu .login{
	height: 30px;
	background-color: #fcfcfc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 252, 252)), to(rgb(191, 191, 191)));
	background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(191, 191, 191));
	background-image: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(191, 191, 191));
	background-image: -o-linear-gradient(top, rgb(252, 252, 252), rgb(191, 191, 191));
	background-image: -ms-linear-gradient(top, rgb(252, 252, 252), rgb(191, 191, 191));
	background-image: linear-gradient(top, rgb(252, 252, 252), rgb(191, 191, 191));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfcfc', EndColorStr='#bfbfbf');
	color: #2E2E2E;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-radius: 6px;
	border: 1px solid #989898;
	position: relative;
	top: 18px;
}
.header .menu .login:hover{
	height: 30px;
	background-color: #bfbfbf;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(191, 191, 191)), to(rgb(252, 252, 252)));
	background-image: -webkit-linear-gradient(top, rgb(191, 191, 191), rgb(252, 252, 252));
	background-image: -moz-linear-gradient(top, rgb(191, 191, 191), rgb(252, 252, 252));
	background-image: -o-linear-gradient(top, rgb(191, 191, 191), rgb(252, 252, 252));
	background-image: -ms-linear-gradient(top, rgb(191, 191, 191), rgb(252, 252, 252));
	background-image: linear-gradient(top, rgb(191, 191, 191), rgb(252, 252, 252));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bfbfbf', EndColorStr='#fcfcfc');
	color: #2E2E2E;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 6px;
	border: 1px solid #989898;
	position: relative;
	top: 18px;
}
.header .menu .login .text{
	position: relative;
	top: -17px;
	
}

/* Slider */
#slides {
	display: none;
	//z-index: -1;
	position: relative;
}
/* images */
#slides .img1{
	background: transparent url('../images/slide02.jpg') no-repeat;
	width: 100%;
	height: 520px;
}
#slides .img2{
	background: transparent url('../images/slide03.jpg') no-repeat;
	width: 100%;
	height: 520px;
}
#slides .img3{
	background: transparent url('../images/slide04.jpg') no-repeat;
	width: 100%;
	height: 520px;
}

#slides .box{
	width: 400px;
	height: 300px;
	padding: 5px;
	position: relative;	
	float: right;
	top: 150px;
	right: 45px;
}
#slides .box .msg{	
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
}
#slides .box a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	position: relative;
	left: 0px;
	top: 15px;
}

#slides .box .signup{
	border-radius: 10px;
	background-color: #f48082;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(244, 128, 130)), to(rgb(179, 61, 65)));
	background-image: -webkit-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: -moz-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: -o-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: -ms-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f48082', EndColorStr='#b33d41');
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 1px #000000;
	text-transform:uppercase;
	text-decoration: none;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	left: 0px;
	top: 50px;
}
#slides .box .signup:hover{
	border-radius: 12px;
	background-color: #b33d41;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(179, 61, 65)), to(rgb(244, 128, 130)));
	background-image: -webkit-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: -moz-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: -o-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: -ms-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b33d41', EndColorStr='#f48082');
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 1px #000000;
	text-transform:uppercase;
	text-decoration: none;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	left: 0px;
	top: 50px;
}

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
 	  background
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

/*me*/
#slider-content{
	background: #ccc;
	height: 520px;
	width: 100%;	
	background-color: #ccc;
	border-bottom: 1px solid #d2d2d2;
	overflow: hidden;
}
#slider-content .box{
	width: 400px;
	height: 300px;
	padding: 5px;
	position: relative;	
	float: right;
}
#slider-content .box .msg{	
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
}
#slider-content .box a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	position: relative;
	left: 0px;
	top: 15px;
}

#slider-content .box .signup{
	border-radius: 10px;
	background-color: #f48082;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(244, 128, 130)), to(rgb(179, 61, 65)));
	background-image: -webkit-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: -moz-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: -o-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: -ms-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	background-image: linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f48082', EndColorStr='#b33d41');
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 1px #000000;
	text-transform:uppercase;
	text-decoration: none;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	left: 0px;
	top: 50px;
}
#slider-content .box .signup:hover{
	border-radius: 12px;
	background-color: #b33d41;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(179, 61, 65)), to(rgb(244, 128, 130)));
	background-image: -webkit-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: -moz-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: -o-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: -ms-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	background-image: linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b33d41', EndColorStr='#f48082');
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 1px #000000;
	text-transform:uppercase;
	text-decoration: none;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	left: 0px;
	top: 50px;
}



/* Sections */

.section{
	width: 100%;
	overflow: hidden;
}
.section .container{
	width: 412px;
	min-height: 10px;
	float: left;
	overflow: hidden;
}
.section .container .img{
	padding-bottom: 20px;
	position: relative;
	top: 20px;
	left: 120px;
}
.section .container .img2{
	padding-top: 50px;
	padding-left: 110px;
	position: absolute;
}
.section .container .paragraph{
	padding: 60px 60px 40px 60px;
}
.section .container .paragraph h3{
	text-transform: uppercase;
}
.section .container .list{
	padding: 60px 0 40px 0;
}
.section .container ul{
	list-style: none;
}
.section .container ul li{
	font-size: 22px;
	margin-bottom: 15px;
}
.section .container .description{
	font-size: 16px;
	margin-left: 15px;
}



.section .huge::before{
	content:"";
	background: url('../images/line.gif') no-repeat scroll center top rgba(0, 0, 0, 0);
	float: left;
	padding-top: 70px;
	width: 100%;
}
.section .huge{
	background: #fbfbfb;
	min-height: 50px;
	overflow: hidden;
}
.section .huge:after{
	content:"";
	background: url('../images/divider.gif') no-repeat scroll center top rgba(0, 0, 0, 0);
	float: left;
	padding: 120px 0 0 435px;
	width: 777px;
	position: relative;
	top:-15px;
}
.section .signup{
	background: #fbfbfb;
	overflow: hidden;
}

.section .signup .left {
	float: left;
	font-size: 14px;
	position: absolute;
	margin-top: -65px;
	margin-left: 390px;
}
.section .signup .right {
	float: right;
	font-size: 14px;
	position: absolute;
	margin-top: -65px;
	margin-left:  770px;
}

.section .signup .button{
	border-radius: 10px;
    background-color: #f48082;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(244, 128, 130)), to(rgb(179, 61, 65)));
    background-image: -webkit-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
    background-image: -moz-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
    background-image: -o-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
    background-image: -ms-linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
    background-image: linear-gradient(top, rgb(244, 128, 130), rgb(179, 61, 65));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f48082', EndColorStr='#b33d41');
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 1px #000000;
    text-transform:uppercase;
    text-decoration: none;
 	padding-bottom: 12px;
 	padding-top: 12px;
   	padding-left: 24px;
   	padding-right: 24px;
   	position: absolute;
   	margin-top: -80px;
   	margin-left:  560px;
}
.section .signup .button:hover {
	border-radius: 12px;
    background-color: #b33d41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(179, 61, 65)), to(rgb(244, 128, 130)));
    background-image: -webkit-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
    background-image: -moz-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
    background-image: -o-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
    background-image: -ms-linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
    background-image: linear-gradient(top, rgb(179, 61, 65), rgb(244, 128, 130));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b33d41', EndColorStr='#f48082');
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 1px #000000;
    text-transform:uppercase;
    text-decoration: none;
   	padding-bottom: 12px;
   	padding-top: 12px;
   	padding-left: 24px;
   	padding-right: 24px;
    position: absolute;
    margin-top: -80px;
    margin-left:  560px;
}


/* Area 3 col */

.section .area{
	background: #eaeaea url('../images/area_bg.png') repeat-x;
	width: 354px;
	height: 270px;
	float: left;
	overflow: hidden;
	border-bottom: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
}

.section .area .italic:before{
	content: "";
	background: transparent url('../images/quote-top.gif') no-repeat;
	width: 24px;
	height: 19px;	
	float: left;
	padding-top: 70px;
	padding-right: 2px;
}

.section .area .italic{
	display: block;
	font-size: 16px;
	font-style: italic;
	color: #777777;
	float: left;
	padding-left: 35px;
	padding-right: 40px;
	width: 100%;
	letter-spacing: 2px;
	text-shadow: 0 1px #FFFFFF;
	position: relative;
	top: 80px;
}

.section .area .italic:after{
	content: "";
	background: transparent url('../images/quote-btm.gif.png') no-repeat;
	width: 24px;
	height: 19px;
	float: right;
	padding-top: 70px;
}
.section .area .tnw{
	background: transparent url('../images/quote_tnw.png') no-repeat;
	width: 104px;
	height: 45px;
	position: relative;
	top: 180px;
	left: 130px;
}
.section .area_big{
	background: #eaeaea url('../images/area_bg.png') repeat;
	width: 441px;
	height: 270px;
	float: left;
	overflow: hidden;
	//border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;	
}
.section .area_big:last-child{
	background: #eaeaea url('../images/area_bg.png') repeat;
	width: 443px;
	height: 270px;
	float: left;
	overflow: hidden;
	//border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	
}

.section .area_big .box{
	background: url('../images/box.gif') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	width: 195px;
	height: 195px;
	margin: 5px 0;
	position: relative;
	top: 30px;
	left: 160px;
}
.section .area_big .box .ribbon_left{
	background: transparent url('../images/ribbon_left.png') no-repeat;
	width: 267px;
	height: 41px;
	position: absolute;
	margin-left: -36px;
	margin-top: -25px;
}
.section .area_big .box .ribbon_left .text-ribbon{
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	position: absolute;
	margin-top: 8px;
	margin-left: 65px;
}
.section .area_big .box .text{
	color: #222222;
	display: block;
	font-size: 27px;
	font-weight: normal;
	margin-bottom: 60px;
	text-transform: uppercase;
	text-shadow: 0 1px #FFFFFF;
	position: relative;
	top: 25px;
	left: 15px;
}
.section .area_big .info-up{
	color: #777777;
	font-size: 11px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	left: 190px;
	top: 30px;
}
.section .area_big .info-down{
	color: #777777;
	font-size: 11px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	left: 175px;
}
.section .area_big .ribbon_right{
	background: transparent url('../images/ribbon_right.png') no-repeat;
	width: 302px;
	height: 36px;
	position: absolute;
	margin-left: -12px;
	margin-top: 40px;
}
.section .area_big .ribbon_right .text{
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	position: absolute;
	left: 55px;
	top: 8px;
}
.section .area_big .social{
	list-style: none outside none;
	width: 200px;
	position: relative;
	top: 90px;
	left: 45px;
}
.section .area_big .social li{
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}
.section .area_big a{
	text-decoration: none;
}
.section .area_big a:hover{
	text-decoration: underline;
	color: #333;
}
.section .area_big .more{
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	color: #777777;
	font-size: 13px;
	font-weight: bold;
	display: block;
	top: 230px;
	left: -90px;
	
}
.section .area_big .more::after{
	content: " > ";
	margin-left: 2px;
}

/* footer */
.footer{
	background: #fff;
	width: 100%;
	min-height: 150px;
}
.footer .left{
	list-style: none;
	display: inline;
	float: left;
	position: relative;
	top: 70px;
	left: 160px;
}
.footer .left li{
	display: inline;
	margin-right: 20px;
}
.footer .left li a{
	color: #777777;
	text-decoration: none;
}
.footer .left li a:hover{
	color: #478F8F;
	cursor: pointer;
	text-decoration: none;
}

.footer .social{
	position: relative;
	top: 58px;
	left: 230px;
	list-style: none;
	display: inline;
	float: left;
}
.footer .social li{
	display: inline;
	color: #777777;
	margin-right: 10px;
}
.footer .social li a{
	color: #777777;
	font-size: 24px;
	text-decoration: none;
}
.footer .social li a:hover{
	color: #478F8F;
	cursor: pointer;
	text-decoration: none;
}